<div class="borde" id="container-form-agregar">
    <form method="POST" target="/equipos/agregar">
        
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input name="nombre" type="text" class="form-control" placeholder="Ingresa el nombre del equipo" autofocus required>
        </div>
        
        <div class="form-group">
            <label for="nombre-corto">Nombre Corto</label>
            <input name="nombre-corto" type="text" class="form-control" placeholder="Ingresa el nombre corto del equipo" autofocus required>
        </div>

        <div class="form-group">
            <label for="tla">TLA</label>
            <input name="tla" type="text" class="form-control" placeholder="Ingresa el tla del equipo. Ejemplo: ARS" autofocus required>
        </div>

        <div class="form-group">
            <label for="area">Area</label>
            <input name="area" type="text" class="form-control" placeholder="Ingresa el area del equipo" autofocus required>
        </div>

        <div class="form-group">
            <label for="imagen-escudo">Escudo</label>
            <input type="url" name="imagen-escudo" class="form-control" placeholder="Ingresa una URL con la imagen del escudo" autofocus required>
        </div>
        
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input name="direccion" type="text" class="form-control" placeholder="Ingresa la direccion del equipo" autofocus required>
        </div>

        <div class="form-group">
            <label for="numero-telefono">Numero de telefono</label>
            <input name="numero-telefono" type="text" class="form-control" placeholder="Ingresa el numero de telefono del equipo" autofocus required>
        </div>

        <div class="form-group">
            <label for="website">Website del equipo</label>
            <input name="website" type="url" class="form-control" placeholder="Ingresa la website del equipo" autofocus required>
        </div>

        <div class="form-group">
            <label for="email">Email del equipo</label>
            <input name="email" type="text" class="form-control" placeholder="Ingresa el email del equipo" autofocus required>
        </div>

        <div class="form-group">
            <label for="equipo-colores">Colores del equipo</label>
            <input name="equipo-colores" type="text" class="form-control" placeholder="Ingresa los colores del equipo" autofocus required>
        </div>

        <div class="form-group">
            <label for="estadio-nombre">Nombre del estadio</label>
            <input name="estadio-nombre" type="text" class="form-control" placeholder="Ingresa el nombre del estadio" autofocus required>
        </div>

        <div class="form-group">
            <input type="submit" value="Enviar" class="form-input">
        </div>

    </form>
</div>
