<p>Hay {{data.cantidadEquipos}} equipos &nbsp;&nbsp; 
    <a href="/equipos/agregar">Agregar equipos</a>
</p> 

<div class="borde" id="equipos">
    <div class="borde" id="nombre-equipos">
        <p>Equipos</p>
        <ul>
            {{#each data.nombreEquipos}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="borde" id="pais-equipos"> 
        <p>País</p>
        <u>
            {{#each data.paisEquipos}}
            <li>{{this}}</li>
            {{/each}}
        </u>
    </div>
    <div class="borde" id="acciones">
            <p>Acción</p>
            <ul>
            {{#each data.idEquipos}}
            <li>
                <a href="/equipos/{{this}}/ver">Ver,</a><a> Editar,</a><a> Eliminar</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>


